<div id="<%= dom_id admission %>" class="container">
  <div class="row">
    <div class="col">
      <p>
        <strong>Name:</strong>
        <%= admission.name %>
      </p>
    </div>
    <div class="col">
      <p>
        <strong>Father name:</strong>
        <%= admission.father_name %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        <strong>Date of birth:</strong>
        <%= admission.date_of_birth %>
      </p>
    </div>
    <div class="col">
      <p>
        <strong>Address:</strong>
        <%= admission.address %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        <strong>User:</strong>
        <%= admission.user_id %>
      </p>
    </div>
    <div class="col">
      <p>
        <strong>Course:</strong>
        <%= admission.course_id %>
      </p>
    </div>
  </div>
</div>
